<form action="/reschedule/<%= r.id %>" method="POST">
  <label for="reschedule_on">Reschedule on</label>
  <span id="next-standby-on-weekday"></span>
  <input type="datetime-local" id="reschedule_on" name="reschedule_on">

  <div id="update-standby-date-section" style="margin-top: 30px">

    <% [:months, :weeks, :days, :hours].each do |id| %>
      <label for="<%= id %>"><%= id.capitalize %></label>
      <input
      <%= id == :hours && 'autofocus' %>
        type="number" id="<%= id %>" name="<%= id %>" style="max-width: 70px;">

    <% end %>

      <label for="minutes">Minutes</label>
      <input type="number" id="minutes" name="minutes" step="<%= rand(10)+15 %>" style="max-width: 70px;">

    <input type="submit" value="Push back" id="push-back">


<style>
#next-at a {
  margin-left: 10px;
  }
</style>

    <div style="margin-top: 30px">
      <div style="margin-left: 10px;">

        <span id="next-at">
          <a href="#" class="btn btn-default" data-hour="7">+1j @7h</a>
          <a href="#" class="btn btn-default" data-hour="12">+1j @12h</a>
          <a href="#" class="btn btn-default" data-hour="17">+1j @17h</a>
          <a href="#" class="btn btn-default" data-hour="18">+1j @18h</a>
          <a href="#" class="btn btn-default" data-hour="20">+1j @20h</a>
          <a href="#" class="btn btn-default" data-hour="23">+1j @23h</a>
          <a href="#" class="btn btn-default" data-hour="rand">+1j @aléat.</a>
        </span>

        <span id="today-at-random" style="margin-left: 30px;">
          <a href="#" class="btn btn-default">Ce jour @aléat.</a>
        </span>

        <span id="today-at-end-of-day">
          <a href="#" class="btn btn-default">Ce jour @fin.</a>
        </span>

        <hr style="margin: 20px 0">
        <h3 style="display: inline">Week day start:</h3>
        <% [:monday, :tuesday, :wednesday, :thursday, :friday, :saturday, :sunday].each do |week_day| %>
          <span id="next-<%= week_day %>-start">
            <a href="#">@<%= week_day %></a>
          </span>
        <% end %>

        <br>
        <h3 style="display: inline">Week day end:</h3>
        <% [:monday, :tuesday, :wednesday, :thursday, :friday, :saturday, :sunday].each do |week_day| %>
          <span id="next-<%= week_day %>-end">
            <a href="#">@<%= week_day %></a>
          </span>
        <% end %>

      </div>
    </div>
  </div>

</form>
